html, body {
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }

::-webkit-scrollbar {
  width: 0;
}

.table-responsive{
overflow: auto !important;
}

.az-header-center > div {
text-align: center;
display: block;
}

.az-header-center > div > i {
   font-weight: 'bold'
}

.icon-img{
  width:40px !important;
  height:40px !important;
}

.icon-img-1{
  width:45px !important;
  height:45px !important;
}

.icon-img-2{
  width:30px !important;
  height:30px !important;
}

.header-caption{
  font-size: 12px !important
}

.az-header-center > div > a > h6 {
  color: #009688 !important;
  font-size: 13px !important;
  font-weight:'bold' !important;
}

.fa-home{
  font-size: 16px !important;
}

.btn-success{
  background: #009688 !important
}

.text-success{
  color: #009688 !important
}

.chart-card{
  width: 600px;
  height:400px;
}